<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/style.css">
  <title>Document</title>
</head>
<body>

  <h1>It-Pro-Net</h1>

  <p>
    Welcome to the It-Pro-Net backend | <b>v.1.0.</b> A RESTful API built with
    <strong>Express.js</strong> and <strong>PostgreSQL</strong>.
  </p>

</body>
</html>