header {
  background: #343A40;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 13px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #fff;
  font-size: 16px;
  border-bottom: 2px solid #343A40;

  &:hover {
    border-color: #fff;
  }
}

header .line {
  width: 100%;
  height: 4px;
  background: #A30000;
  position: absolute;
  top: 0;
  left: 0;
}